extends ../main

block content
  .content
    //SIDEBAR - Start
    include ../components/_sidebar
    //SIDEBAR - End

    //HOTEL-VIEW - Start
    include ../components/_hotel-view
    //HOTEL-VIEW - End
