.hotel-view
  //GALLERY - Start
  include _hotel-gallery
  //GALLERY - End

  //OVERVIEW - Start
  include _hotel-overview
  //OVERVIEW - End

  //DETAIL - Start
  .detail
    //DETAIL - DESCRIPTION - Start
    include _hotel-description
    //DETAIL - DESCRIPTION - End

    //USER REVIEWS - Start
    include _hotel-user-reviews
    //USER REVIEW - End

    include _hotel-cta
  //OVERVIEW - End
