.user-reviews
  figure.review
    blockquote.review__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga doloremque architecto dicta animi, totam, itaque officia ex.
    figcaption.review__user
      img.review__photo(src="img/user-1.jpg", alt="User 1")/
      .review__user-box
        p.review__user-name Nick Smith
        p.review__user-date June 23rd, 2021
      .review__rating 7.8

  figure.review
    blockquote.review__text Accusantium cumque, quas, ut corporis incidunt deserunt quae architecto voluptate delectus, inventore iure aliquid aliquam.
    figcaption.review__user
      img.review__photo(src="img/user-2.jpg", alt="User 2")/
      .review__user-box
        p.review__user-name Jane Doe
        p.review__user-date April 10th, 2021
      .review__rating 9.3

  a.btn-inline Show more
    span &rarr;